.userList {
    display: flex;
    margin: 10px;
}

.userList img {
    height: 70px;
}

.userList button {
    height: 20px;
    width: 60px;
    border: 0;
    text-align: center;
    background: #eeeeee;
    cursor: default;
}

.userListDescription {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10px;
}