.header {
    grid-area: h;
    background-color: black;
    width: 100%;
    line-height: 60px;
}

.header img {
    width: 100px;
    margin-left: 20px;
    margin-top: 5px;
}

.loginBlock{
    color: white;
    height: 60px;
    margin-right: 20px;
    float: right;
}

.loginBlock a {
    color: white;
    text-decoration: none;
    height: 60px;
    float: right;
}
