.nav {
    grid-area: n;
    background-color: #404050;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;

}

.item {
    color: white;
    text-decoration: none;

}

.active {
    color: lightgray;
    text-decoration: none;
}