.profileInfo {
    font-family: Avenir LT Std;
    display: flex;

    flex-direction: column;
}

.descriptionBlock {
    display: flex;
    flex: 200px auto;
    flex-direction: row;
    padding: 20px;
}

.avatar {
    height: 200px;
    border-radius: 00%;
}

.textDescription {
    padding-left: 10px;
}

.contact {
    padding-left: 10px;
}

.fullName {
    font-size: 1.5em;
    font-weight: bold;
    margin-block-end: 10px;
}
