.app-wrapper {
  font-family: Tahoma;
  margin: 0 auto;
  display: grid;
  width: 800px;
  background-color: #404050;

  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #ccccdd;
  justify-content: center;
  align-items: center;
}

.app-wrapper button {
  font-family: Tahoma;
}
