.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 20px;
    color: white;
    text-decoration: none;
}

.dialogsItems .active {
    color: brown;
}

.dialog {
    color: cyan;
}

.messages {
    padding: 20px;
}

.message {

}